@import "tailwindcss";
body {
  background-color: #101828;
}
@keyframes marquee-rtl {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee-rtll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee-rtl 25s linear infinite;
}
.marqueee {
  animation: marquee-rtll 15s linear 1 forwards;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #101828;
}

::-webkit-scrollbar-thumb {
  background: #2fa2d4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d7fa8;
}
@media (max-width: 720px) {
  .Search {
    display: none;
  }
  .HeaderActions {
    display: flex;
    justify-content: space-between;
  }
  
}
@media (max-width: 387px){

  .HeaderIcon{
    font-size: 15px;
  }
  .HeaderName{
    font-size: 12px;
  }
}
