@import "tailwindcss";
body {
  background: linear-gradient(135deg, #0b0f3a 0%, #5a1b6e 100%);
}
@keyframes marquee-rtl {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee-rtl 25s linear infinite;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #101828;
}

::-webkit-scrollbar-thumb {
  background: #6b2577;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d7fa8;
}

@media (max-width: 925px) {
  .Search {
    max-width: 400px;
  }
}
@media (max-width: 850px) {
  .Search {
    max-width: 360px;
  }
}
@media (max-width: 810px) {
  .Search {
    max-width: 320px;
  }
}
@media (max-width: 765px) {
  .Search {
    max-width: 280px;
  }
}
@media (max-width: 674px) {
  .Wrong {
    font-size: 12px;
  }
}
@media (max-width: 720px) {
  .Search {
    display: none;
  }
  .HeaderActions {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 387px) {
  .HeaderIcon {
    font-size: 15px;
  }
  .HeaderName {
    font-size: 12px;
  }
}
/* --- */
